@import "includes/variables";
@import "includes/mixins";

@import "../bower_components/font-awesome/scss/font-awesome";

@import "includes/helpers";
@import "includes/navigation";
@import "includes/inputs";
@import "includes/lists";

* {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;

  &:focus {
		outline: none;
	}
}

body {
	background: $bg-color;
	margin: 0;
}
