<button ng-click="host()" class="btn green">Host</button>
<br>
<input type="text" ng-model="endpoint">
<button ng-click="connect()" class="btn green">Connect</button>
<!-- list example -->
<ul class="bh-list music">
	<li><i class="fa fa-music"></i><span><span>Justin Biebers Schwester Ellen Bieber</span></li>
	<li class="active play"><i class="fa fa-music"></i><span><span>Die Bieber Brüder Theme Song</span><i class="fa fa-play pull-right"></i></li>
	<li><i class="fa fa-music"></i><span><span>Bieber</span></li>
	<li><i class="fa fa-music"></i><span><span>Justin Bieber</span></li>
	<li><i class="fa fa-music"></i><span><span>Bieber</span></li>
	<li><i class="fa fa-music"></i><span><span>Justin Bieber</span></li>
	<li><i class="fa fa-music"></i><span><span>Bieber</span></li>
	<li><i class="fa fa-music"></i><span><span>Justin Bieber</span></li>
</ul>
