<button ng-click="host()" class="btn">Host</button>
<br>
<input type="text" ng-model="endpoint">
<button ng-click="connect()" class="btn">Connect</button>
<!-- list example -->
<ul class="bh-list music">
	<li><span>Justin Bieber</span></li>
	<li><span>Justin Biebers Schwester Ellen Bieber</span></li>
	<li class="active play"><span>Die Bieber Brüder Theme Song</span></li>
	<li><span>Bieber</span></li>
	<li><span>Justin Bieber</span></li>
	<li><span>Justin Biebers Schwester Ellen Bieber</span></li>	
	<li><span>Justin Biebers Schwester Ellen Bieber</span></li>	
	<li><span>Justin Biebers Schwester Ellen Bieber</span></li>
</ul>
