//buttons
.btn{
  border-radius: $border-radius;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 500px;
  padding: 6px 20px 3px;
  border: none;
  color: black;
  background: $color-white;

  &:hover{
    background: rgba($color-white, 0.5);
    transition: background 0.2s ease-in-out;
    cursor: pointer;
  }
}

.green{
  background: $color-green;
  color: white;
  &:hover{
    background: $color-darker-green;
  }
}

.red{
  background: $color-red;
  color: white;
  &:hover{
    background: $color-darker-red;
  }
}

.blue{
  background: $color-blue;
  color: white;
  &:hover{
    background: $color-darker-blue;
  }
}


//general classes
.pull-right{
  float: right !important;
}
.pull-left{
  float: left !important;
}

//input styles
input{
  border-radius: $border-radius + 10;
  border: none;
  background: $standard-gray;
  padding: 7px 20px 6px 20px;
  &:active{
    background: $color-white;
  }
  &:focus{
    background: $color-white;

  }
}

// UL Style
.bh-list{
  padding: 0;
  list-style: none;
  color: rgba($color-white, 0.5);
  background: $content-color;
  li{
    padding: 7px 7px 7px 10px;
    span{
      padding-left: 10px;
    }
    &:hover{
      background: $content-color-lighter;
      color: $color-white;
      cursor: pointer;
    }
  }
}

.music{
  li{
    &.active{
      border-left: 5px solid $color-green;
      padding-left: 5px;
      background: $content-color-lighter;
      color: white;
    }
    i{
      color: $color-white;
    }
    &.play{
      position: relative;
    }
  }
}
