@import "includes/variables";
@import "includes/mixins";

@import "../bower_components/font-awesome/scss/font-awesome";
// @import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/grid";

@import "includes/navigation";
@import "includes/components";

*{
	-webkit-font-smoothing: antialiased;
	&:focus{
		outline: none;
	}
}

body{
	background: $bg-color;
	margin: 0;
}