<style type="text/css">
  .row{
  color: white;
  }
  .col-md-6{
  background: blue;
  }
  .wrapper{
  padding: 30px;
  }
</style>
<div class="wrapper">
  <button class="btn">Default</button><br>
  <br>
  <button class="btn red">Red</button><br>
  <br>
  <button class="btn green">Green</button><br>
  <br>
  <button class="btn blue">Blue</button><br>
  <br>
  <h2>Track list</h2>
  <ul class="bh-list bh-track-list">
    <li><i class="fa fa-music"></i><span><span>Track #1</span></li>
    <li class="playing"><i class="fa fa-music"></i><span><span>Track #2</span><i class="fa fa-play"></i></li>
    <li><i class="fa fa-music"></i><span><span>Track #3</span></li>
  </ul>
  <h2>Cover list</h2>
  <div class="wrapper-page">
    <div class="row middle-xs bh-list bh-cover-list">
      <div class="col-xs">
        <div class="box-row">
          <ul class="col-xs">
            <li><i class="fa fa-angle-up up"></i></li>
            <li><span class="counter">1</span></li>
            <li><i class="fa fa-angle-down down"></i></li>
          </ul>
        </div>
      </div>
      <div class="col-xs">
        <div class="box-row">
          <ul>
            <li>
              <img src="http://lorempixel.com/output/nightlife-q-c-250-250-4.jpg" width="100" height="100" />
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs">
        <div class="box-row">
          <ul>
            <li><span class="title">Track #1</span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row middle-xs bh-list bh-cover-list">
      <div class="col-xs">
        <div class="box-row">
          <ul class="col-xs">
            <li><i class="fa fa-angle-up up"></i></li>
            <li><span class="counter">1</span></li>
            <li><i class="fa fa-angle-down down"></i></li>
          </ul>
        </div>
      </div>
      <div class="col-xs">
        <div class="box-row">
          <ul>
            <li>
              <img src="http://lorempixel.com/100/100/" />
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs">
        <div class="box-row">
          <ul>
            <li><span class="title">Track #2</span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row middle-xs bh-list bh-cover-list">
      <div class="col-xs">
        <div class="box-row">
          <ul class="col-xs">
            <li><i class="fa fa-angle-up up"></i></li>
            <li><span class="counter">1</span></li>
            <li><i class="fa fa-angle-down down"></i></li>
          </ul>
        </div>
      </div>
      <div class="col-xs">
        <div class="box-row">
          <ul>
            <li>
              <img src="http://lorempixel.com/100/100/" />
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs">
        <div class="box-row">
          <ul>
            <li><span class="title">Track #3</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
